<div style="text-align: center;">

	<h1>Welcome to VSF. Virtual School Freedom</h1>
	<p>This is where you'll learn all of the new stuff on the webs, things like how to generate a memetic krab for sirilanka accident</p>



	<iframe width="720" height="515" src="https://www.youtube.com/embed/GY7Ps8fqGdc" frameborder="0" allowfullscreen></iframe>


	<%= link_to 'My Blog', controller: 'articles' %>

</div>